/* public/css/style.css */

/* Kustomisasi Scrollbar agar nyambung dengan tema laut */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0B192C; 
}
::-webkit-scrollbar-thumb {
    background: #008E9B; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #48CFCB; 
}

/* Animasi Mengambang seperti di air */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}